ConfigSecret.py
venv
app/venv
app/node_modules
.env
.env.sh
node_modules
.idea
$CACHE_FILE$
data-*
app/nohup.out
nohup.out

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*bk.py
*bk
**/__pycache__
*.pem
*.sqlite3
/scripts
/ignore
*.logs